<div>
	<div ng-controller="SeriesBoxCtlr as seriesBox"> 
		<div class="search">
			<input type="text" ng-model="seriesBox.searchQuery" ng-change="seriesBox.searchSeries()" placeholder="Search for a movie, series and videos">
		</div>

		<div class="container" >
			<section id="filters-section" >
				<h4 class="subtitle semibold">Descubra nuevas películas y programas de televisión </h4>

				<div>
					<div class="filters">
						<label>Año</label>
						<select name="age" ng-model="seriesBox.yearSelected" ng-change="seriesBox.searchSeries()">
							<option ng-repeat="year in seriesBox.years" ng-value="year">{{year}}</option>
						</select>

					</div>
					<div class="filters">
						<label>Géneros</label>
						<select name="genre" ng-model="seriesBox.genre" ng-change="seriesBox.searchSeries()">
							<option ng-repeat="genre in seriesBox.genres" ng-value="genre">{{genre.name}}</option>
							
						</select>

					</div>	
				</div>
				<h3 ng-show="seriesBox.seriesList.results.length == 0">Sorry no movies were found related to these criterias</h3>
				<div cards-list list="seriesBox.seriesList" class="cards-container" >

				</div>
				
			</section>
		</div>

	</div>	
</div>